@use "../global" as global;

.l-lower-header {
    width: 100%;
    aspect-ratio: 1440 / 500;
    object-fit: cover;
    display: grid;
    align-items: center;
    position: relative;

    @include global.mq(sp) {
        height: 75vh;
        aspect-ratio: unset;
    }
}
.l-lower-header__title {
    color: global.$white-color;
    font-size: calc(24px + (48 - 24) * ((100vw - 768px)) / (1440 - 768));
    line-height: calc(69.5 / 48);
    letter-spacing: calc(6.24 / 48 * 1em);
    text-align: center;

    @include global.mq(sp) {
        font-size: calc(24 / 16 * 1rem);
        line-height: calc(34.75 / 24);
        letter-spacing: calc(3.12 / 24 * 1em);
    }
}

#guest-room .l-lower-header {
    background: url(../../assets/img/guest-room/header.jpg) no-repeat;
    background-size: contain;

    @include global.mq(sp) {
        background-image: url(../../assets/img/guest-room/header_sp.jpg);
        background-size: cover;
    }
}
#spend-page .l-lower-header {
    background: url(../../assets/img/spend/header.jpg) no-repeat;
    background-size: contain;

    @include global.mq(sp) {
        background-image: url(../../assets/img/spend/header_sp.jpg);
        background-size: cover;
    }
}

#access .l-lower-header {
    background: url(../../assets/img/access/header.jpg) no-repeat;
    background-size: contain;

    @include global.mq(sp) {
        background-image: url(../../assets/img/access/header_sp.jpg);
        background-size: cover;
    }
}
