@use "../global/" as global;

.l-news__wrap {
width: 639px;
max-width: 639px;
margin: 0 auto;
padding-top: 64px;
@include global.mq('tab') {
width: 639px;
}
@include global.mq('sp') {
  width: global.$sp-width;
}
}
