////////カラー/////////
$main-color:#64629D;
$bg-color:#9F9EC1;
$bg-sub-color:#2D2D32;
$accent-color:#F9F9F9;

$link-color:#000000;
$text-color:#2D2D2E;
$c-search-btn-color: linear-gradient(180deg, #007ADF 0%, rgba(2, 200, 160, 0.79) 139.64%, rgba(0, 236, 188, 0.48) 194.29%);
$white-color: #ffffff;
$pagination-color:#D9D9D9;
$pagination-active-color:#6C6A6A;
$label-color:#CA1818;
$sub-text-color:#181818;
$border-bottom-color:#0A0A0A;


/////////フォント/////////
$main-font: "Zen Kaku Gothic New", sans-serif;
$title-font: 'Shippori Mincho', serif;
$en-font: "Lato", sans-serif;
$label-font: "Hind", sans-serif;
$fz-base: 15px;
$fw-base: 400;
$text-font: "Zen Kaku Gothic New", sans-serif;

/////インナー幅/////
$pc-width:75%;
$sp-width:89.3%;

// ブレークポイント
$layout-width-inner: 1280px;
$breakpoints: (
  'sp': '(max-width: 767px)',
  'tab': '(min-width: 768px) and (max-width: #{ $layout-width-inner })',
  'pc': '(min-width: #{ $layout-width-inner })',
);

