////////カラー/////////
$main-color:#64629D;
$bg-color:#9F9EC1;
$bg-sub-color:#2D2D32;
$accent-color:#F9F9F9;

$link-color:#000000;
$text-color:#EDECFC;


/////////フォント/////////
$main-font:'Noto Sans JP', sans-serif;
$en-font:'Lato', sans-serif;
$label-font:'Hind', sans-serif;
$fz-base: 16px;
$fw-base: 400;

/////インナー幅/////
$pc-width:83.4%;
$sp-width:89.3%;

// ブレークポイント
$layout-width-inner: 1280px;
$breakpoints: (
  'sp': '(max-width: 767px)',
  'tab': '(min-width: 768px) and (max-width: #{ $layout-width-inner })',
  'pc': '(min-width: #{ $layout-width-inner })',
);

