@use "../global/" as global;

.c-address {
  font-family: global.$main-font;
  @include global.font(14, 300, 20.27, 1.69);
  color: global.$white-color;
  padding-left: 4px;
  padding-top: 6px;
  @include global.mq('sp') {
    display: none;
  }
}