@use "../global/" as global;

.c-content__link--cooking {
  padding-right: 33px;
  padding-top: 78px;

  &::before {
    content: '';
    position: absolute;
    bottom: -14px;
    left: -11px;
    height: 0.5px;
    width:104%;
    max-width: 224px;
    background: global.$text-color;
    transition: all .5s;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    right: -2px;
    width: 29.24px;
    height: 0.5px;
    background: global.$text-color;
    transform: rotate(45deg);
    transition: all .5s;
  }

  &:hover::before {
    left: 10%;
  }

  &:hover::after {
    right: -16%;
  }
}