@use "../global/" as global;

.c-concept__lead {
  @include global.font(15, 400, 34.8, 1.95);
  font-family: global.$main-font;
  color: global.$text-color;
  text-align: center;

  @include global.mq('sp') {
@include global.font(15, 400, 34.54, 0.975);
  }

  .pc-break {
    @include global.mq('sp') {
      display: none;
    }
  }
}