@use "../global/" as global;

.c-content__lead {
font-family: global.$title-font;
@include global.font(24, 400, 45.55, 3.12);
color: global.$text-color;
font-size: calc(18px + (24 - 18) * ((100vw - 375px)) / (1440 - 375));
position: relative;

&::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  width: 138.67px;
  height: 0.5px;
  background: global.$border-accent-color;
}
}