@use "../global/" as global;

.c-content__img {
  background: url(../img/top/top1.png) center center / contain no-repeat;
  background-size: cover;
  width: 66.25%;
  height: auto;
  padding-top: 37.5%;
  position: relative;
transition: all 0.5s;
@include global.mq('sp') {
  width: global.$sp-width;
  margin: 0 auto;
  padding-top: 50.4%;
  background: url(../img/top/top1_sp.png) center center / contain no-repeat;
  &:hover{
    opacity: 0.7;
  }
}
}