@use "../global" as global;

.c-main-message {
    font-size: 15px;
    text-align: center;
    line-height: calc( 34.545 / 15 );
    letter-spacing: 1.95px;
    padding-top: 120px;
    padding-bottom: 110px;
}