@use "../global/" as global;

.c-news__date {
  font-family: global.$main-font;
  @include global.font(16, 400, 25, 0);
  color: global.$sub-text-color;
  padding-left: 2px;

  @include global.mq('sp') {
    padding-left: 0;
    font-size: 15px;
  }
}