@use "../global/" as global;

.c-onsen__block-maintenance {
  font-family: global.$main-font;
  color: global.$text-color;
  @include global.font(13, 400, 24.57, 1.56);
  padding-left: 0.1rem;
  line-height: 0.89;
}