@use "../global/" as global;

.c-price__weekday-label {
  display: inline-block;
  margin-left: 116px;
  font-family: global.$main-font;
  @include global.font(16, 400, 30.24, 1.92);
  @include global.mq('sp') {
    margin-left: 0;
    @include global.font(15, 400, 28.35, 1.8);
  }
}