@use "../global/" as global;

.p-check-io {
    margin-bottom: 165px;
    @include global.mq('sp') {
        margin-bottom: 20px;
    }
}
.p-check-io__wrapper {
    background-image: url(../img/guest-room/check-io-bg.svg);
    display: flex;
    align-items: center;
    padding: 50px 185px;
    gap: 150px;
    // justify-content: space-between;
    width: 100%;
}
.p-check-io__contents {
    color: #fff;
    text-align: center;
}
.p-check-io__icon {
    width: 82px;
    height: 82px;
    margin: 0 auto 15px;
}
.p-check-io__title {
    font-size: calc(24 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(34.75 / 24);
}
.p-check-io__text {
    font-family: global.$main-font;
    font-size: calc(14 / 16 * 1rem);
    line-height: calc(26.463 / 14);
    letter-spacing: calc(1.68 / 14 * 1em);
}
