@use "../global/" as global;

.p-course {
    // padding-left: 60px;
}
// .p-course__version {
//     padding-left: 60px;
// }
#sea.p-course__version{
    padding-left: 60px;
}
#luxury.p-course__version {
    padding-left: 0;
    padding-right: 60px;
}
.p-course__gallery {
    display: grid;
    // grid-template-columns: 458px, 316px, 602px;
    // grid-template-rows: 235px, 235px;
    grid-template-columns: 33% auto 43%;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    aspect-ratio: 1380 / 480;
    margin-bottom: 40px;
}
.p-course__img {
    object-fit: cover;
    img {
        height: 100%;
        width: 100%;
    }
}
.p-course__img--03 {
    width: 602px;
    grid-row: 1 / 3;
    grid-column: 3/ 4;
}
.p-course__menu {
    background-image: url(../../assets/img/cooking/menu-bg.jpg);
    padding: 44px 80px 0 82px;
    // max-width: 780px;
    writing-mode: vertical-rl;
    margin-bottom: 120px;
    height: 335px;
    color: global.$text-color;
}
#sea .p-course__menu{
    margin-left: auto;
}
#luxury .p-course__menu{
    margin-right: auto;
}
.p-course__title {
    font-feature-settings: "vert" on;
    font-size: calc(24 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(34.75 / 24);
    padding-left: 70px;
}
.p-course__list {
    padding-top: 40px;
}
.p-course__item {
    font-size: calc(15 / 16 * 1rem);
    font-weight: 800;
    font-family: global.$title-font;
    line-height: calc(21.72 / 15);
}
.p-course__item:not(:last-of-type) {
    padding-left: 52px;
}
