@use "../global/" as global;

.p-dish {
    color: global.$text-color;
    margin-bottom: 120px;
}
.p-dish__title {
    font-size: calc(32 / 16 * 1rem);
    line-height: calc(46.34 / 32);
    letter-spacing: .13em;
    text-align: center;
    padding-bottom: 80px;
}
.p-dish__list {
    display: flex;
    justify-content: space-between;
}
.p-dish__item {
    width: 27%;
}
.p-dish__img {
    margin-bottom: 20px;
}
.p-dish__text {
    font-family: global.$main-font;
    font-size: 1rem;
    font-weight: 800;
    line-height: calc(23.17 / 16);
    text-align: center;
}
