@use "../global" as global;

.p-footer__link--nav {
  display: inline-block;

  @include global.mq('sp') {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21%;
    width: 91%;
    padding-left: 9px;
    white-space: nowrap;
    &:nth-child(2){
        padding-top: 30px;
        padding-bottom: 118px;
        width: 84%;
        padding-left: 10%;
        justify-content: center;
        gap: 11%;
    }
  }
}

.p-footer__link--nav:first-child {
  margin-right: 116px;
  @include global.mq('sp') {
    margin-right: 0;
  }
}