@use "../global/" as global;

.p-inner__check {
  background-image: url("../img/guest-room/check-io-bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 14%;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 50px;
  justify-content: center;
  max-width: 1080px;
  @include global.mq('sp') {
    display: block;
    padding-top: 21px;
    padding-bottom: 17px;
  }
}