@use "../global/" as global;

.p-news__wrap {
  width: 44.38%;
  margin: 0 auto;
  padding-top: 64px;
  padding-left: 1px;

  @include global.mq('tab') {
    width: 639px;
  }

  @include global.mq('sp') {
    width: global.$sp-width;
    padding-left: 0;
    padding-top: 39px;
  }
}