@use "../global/" as global;

.p-onsen__block {
  display: flex;
  justify-content: right;

  &:not(:first-child) {
    margin-top: 7.8rem;

    @include global.mq('sp') {
      margin-top: 1.85rem;
    }
  }

  &:nth-child(2) {
    justify-content: left;

    @include global.mq('sp') {
      display: block;
    }
  }

  &:last-child {
    margin-top: 7.7rem;

    @include global.mq('sp') {
      flex-direction: column-reverse;
    }
  }

  &:first-child {
    @include global.mq('sp') {
      flex-direction: column-reverse;
    }
  }
}