@use "../global/" as global;

.p-onsen__info {
  padding-right: 2rem;
  padding-top: 13.58%;
  padding-bottom: 3rem;
  padding-left: 6%;
  width: 36%;
  &:nth-child(2){
    padding-top: 14.2%;
    padding-right: 12%;
    padding-left: 2.5rem;
    width: 42%;
  }
}