@use "../global/" as global;

.p-room__version {
  &:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    @include global.mq('sp') {
flex-direction: column-reverse;
    }
  }
  &:last-child{
    margin-bottom: 97px;
    @include global.mq('sp') {
      margin-bottom: 40px;
    }
  }
  @include global.mq('sp') {
    margin-bottom: 40px;
  }
}