@use "../global/" as global;

.p-restaurant {
    margin-bottom: 120px;
}
.p-restaurant__title {
    font-size: calc(32 / 16 * 1rem);
    line-height: calc(46.34 / 32);
    letter-spacing: .13em;
    text-align: center;
    padding-bottom: 80px;
    color: global.$text-color;
}
.p-restaurant__list {
    display: flex;
    gap: 10%;
    padding: 0 30px;
}