@use "../global" as global;


.spend-wrapper{
    overflow-x: hidden;
}

// 過ごし方のプログレスバー


.border-line{
    position: absolute;
    top: -27px;
    left: 200px;
    height: 1px;
    width: 0;
    background: #2D2D2E;
    @include global.mq('sp'){
        display: none;
    }
}


// 過ごし方のスライドページ
.p-spend-slide {
    padding-top: 85px;
    padding-bottom: 110px;
    width: 100%;
    height: 100vh;
    background: url(../img/spend/spend-slide-bg.png) no-repeat center center / cover;
    @include global.mq('sp'){
        width: 100%;
        padding: 85px 22px 110px 22px;
    }

}

.p-spend-slide__container{
    display: flex;
    width: 100%;
    height: inherit;

    @include global.mq('sp'){
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        row-gap: 60px;
    }
  
}

.p-spend-slide__list{
    display: flex;

}

/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
  position: absolute;
  left:0.2em;
  top:0;
  width:2px;/*線の太さ*/
  height:0;/*はじめは高さを0に*/
  background: #ccc;
}


.p-spend-slide__block{
    position: relative;
    &::after{
        content:'';
    position: absolute;
    top:0;
    left:0;
    width:10px;
    height: 10px;
    background:#666;
    border-radius: 50%;
    }
}

.p-spend-slide__block1{
    width:550px;
}
.p-spend-slide__block2{
    width:550px;
}
.p-spend-slide__block3{
    width:550px;
}
.p-spend-slide__block4{
    width:550px;
}
.p-spend-slide__block5{
    width:550px;
}
.p-spend-slide__block6{
    width:550px;
}
.p-spend-slide__block7{
    width:550px;
}
.p-spend-slide__block8{
    width:550px;
}
.p-spend-slide__block9{
    width:550px;
}


// 周辺観光

.p-spend-tour {
    padding-top: 190px;
    padding-bottom: 120px;
    @include global.mq('sp'){
        padding-top: 39px;
        padding-bottom: 20px;
    }
}

.p-spend-tour__title {
    font-family: global.$title-font;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    @include global.mq('sp'){
        font-size: 24px;
        line-height: calc( 35/ 24 );
    }
}

.p-spend-tour__cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 40px;
    row-gap: 110px;
    @include global.mq('sp'){
        margin-top: 34px;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

}

.p-spend-tour__card {
    max-width: 520px;
    margin-inline: auto;
}

.spend-tour__head {
    margin-top: 20px;
    font-size: 24px;
    line-height: calc( 35 / 24 );
    font-weight: 600;
    font-family: global.$title-font;
    @include global.mq('sp'){
        margin-top: 15px;
        font-size: 20px;
        line-height: calc(29 / 20);
    }
}

.p-spend-tour__text {
    margin-top: 15px;
    font-size: 15px;
    line-height: calc( 28.353 / 15 );
    letter-spacing: 1.8px;
}

.p-spend-tour__detail {
    margin-top: 30px;
    font-size: 14px;
    @include global.mq('sp'){
        margin-top: 15px;
    }
}

