@use "../global" as global;


.spend-wrapper{
    overflow-x: hidden;
}

// 過ごし方のプログレスバー


.border-line{
    position: absolute;
    top: -27px;
    left: 200px;
    height: 1px;
    width: 0;
    background: #2D2D2E;
    @include global.mq('sp'){
        display: none;
    }
}


// 過ごし方のスライドページ
.p-spend-slide {
    padding-top: 85px;
    padding-bottom: 110px;
    background: url(../img/spend/spend-slide-bg.png) no-repeat center center / cover;
    display: flex;
    flex: 1;
    width: 900%;
    @include global.mq('sp'){
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 85px 22px 110px 22px;
    }

}

.p-spend-slide__wrapper{
    display: flex;
    margin-left: 117px;
    @include global.mq('sp'){
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        row-gap: 60px;
    }
  
}


.p-spend-slide__block {
    width: 100%;
    display: flex;
    position: relative;
    @include global.mq('sp'){
        justify-content: center;
    }
    &::after{
        content: "";
        position: absolute;
        top: -37px;
        left: 200px;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background: global.$text-color;
        border-radius: 50%;
        @include global.mq('sp'){
            display: none;
        }
    }

}

.p-spend-slide__block1 {
    margin-right: 32px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}

.p-spend-slide__card {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.p-spend-slide__card1{
    width: 408px;
    margin-right: 28px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}
.p-spend-slide__time {
    font-size: 24px;
    line-height: calc( 29 / 24);
    letter-spacing: 2.88px;
    @include global.mq('sp'){
        font-size: 20px;
        line-height: calc( 37.805 / 20 );
        letter-spacing: 2.4px;
    }
}

.p-spend-slide__head {
    font-size: 24px;
    line-height: calc( 29 / 24);
    letter-spacing: 2.88px;
    @include global.mq('sp'){
        font-size: 20px;
        line-height: calc( 37.805 / 20 );
        letter-spacing: 2.4px;
    }
}

.p-spend-slide__text {
    text-align: left;
    margin-top: 20px;
    line-height: calc(34.545 / 15 );
    letter-spacing: 1.95px;
}

.p-spend-slide__block__img{
    margin-top: auto;
    img{
        width: 100%;
    }
    @include global.mq('sp'){
        margin-top: 20px;
    }
}

.p-spend-slide__accent {
    display: flex;
    align-items: flex-start;
    @include global.mq('sp'){
        display: none;
    }
}   

.p-spend-slide__accent1 {
    img{
        &:first-of-type{
            align-self: flex-end;
        }
        &:last-of-type{
            margin-top: 205px;
        }
    }

}

.p-spend-slide__block2 {
    margin-right: 28px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}

.p-spend-slide__card2{
    width: 411px;
    margin-right: 27px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

.p-spend-slide__accent2 {
    img{
        &:first-of-type{
            margin-top: 205px;
        }
        &:last-of-type{
            align-self: flex-end;
            margin-left: -84px;
        }
    }
}

.p-spend-slide__block3 {
    margin-right: 54px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}

.p-spend-slide__card3{
    width: 520px;
    margin-right: 33px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

.p-spend-slide__accent3 {
    img{
        &:first-of-type{
            align-self: flex-end;
            
        }
        &:last-of-type{
            margin-left: -26px;
            margin-top: 224px;
        }
    }
}

.p-spend-slide__block4 {
    margin-right: 24px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}   

.p-spend-slide__card4{
    width: 407px;
    margin-right: 51px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

.p-spend-slide__accent4 {
    img{
        align-self: flex-end;
    }
}

.p-spend-slide__block5 {
    margin-right: 51px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}

.p-spend-slide__card5{
    width: 486px;
    margin-right: 51px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

.p-spend-slide__accent5 {
    img{
        align-self: flex-end;
    }
}

.p-spend-slide__block6 {
    margin-right: 52px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}

.p-spend-slide__card6{
    width: 393px;
    margin-right: 75px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

.p-spend-slide__accent6 {
    img{
        align-self: flex-end;
    }
}

.p-spend-slide__block7 {
    margin-right: 75px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}

.p-spend-slide__card7{
    width: 361px;
    margin-right: 40px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

.p-spend-slide__accent7 {
    img{
        &:first-of-type{
            align-self: flex-end;
        }
        &:last-of-type{
            margin-top: 200px;
            margin-left: 36px;
        }
    }
}

.p-spend-slide__block8 {
    margin-right: 36px;
    @include global.mq('sp'){
        margin-right: 0;
    }
}

.p-spend-slide__card8{
    width: 408px;
    margin-right: 28px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

.p-spend-slide__accent8 {
    img{
        align-self: flex-end;
    }
}

.p-spend-slide__card8{
    width: 408px;
    margin-right: 28px;
}

.p-spend-slide__block9 {

}

.p-spend-slide__card9{
    width: 408px;
    margin-right: 28px;
    @include global.mq('sp'){
        width: 100%;
        margin-right: 0;
    }
}

// 周辺観光

.p-spend-tour {
    padding-top: 190px;
    @include global.mq('sp'){
        padding-top: 39px;
    }
}

.p-spend-tour__title {
    font-family: global.$title-font;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    @include global.mq('sp'){
        font-size: 24px;
        line-height: calc( 35/ 24 );
    }
}

.p-spend-tour__cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 40px;
    row-gap: 110px;
    @include global.mq('sp'){
        margin-top: 34px;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

}

.p-spend-tour__card {
    max-width: 520px;
    margin-inline: auto;
}

.spend-tour__head {
    margin-top: 20px;
    font-size: 24px;
    line-height: calc( 35 / 24 );
    font-weight: 600;
    font-family: global.$title-font;
    @include global.mq('sp'){
        margin-top: 15px;
        font-size: 20px;
        line-height: calc(29 / 20);
    }
}

.p-spend-tour__text {
    margin-top: 15px;
    font-size: 15px;
    line-height: calc( 28.353 / 15 );
    letter-spacing: 1.8px;
}

.p-spend-tour__detail {
    margin-top: 30px;
    font-size: 14px;
    @include global.mq('sp'){
        margin-top: 15px;
    }
}

